<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            {{!-- <span class="preheader">Bullion Mailing PO Order Completed.</span> --}}

            {{> header}}

            <br>

            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p class="text-center greetings" id="greetings">Hello <span style="text-transform: capitalize;">{{> username4 }}</span>,</p>
                        <br>
                        <p style="padding-bottom: 10px;">Please find hereby the details of the payment for Purchase Order <span class="bold">#{{> purchaseOrderNumber }}</span> in the amount of <span class="bold">{{> po_grandTotal }}</span> from Bullion Exchanges using a {{> po_paymentMethod }}.</p>
                        <p style="padding-bottom: 10px;">Enclosed is an updated copy of the purchase order after agreed transactional deductions in the full amount of your sale to Bullion Exchanges. </p>
                        <p style="padding-bottom: 10px;">Please feel free to contact us if there are any clarifications regarding your order. You can reach us directly at 800.852.6884.</p>

                        <br>
                        <br>

                        <p class="italic">
                          Thank you for choosing Bullion Exchanges. We are looking forward to doing more business with you in the near future.
                        </p>

                        <br>
                        <br>

                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>Questions?</span></div>
                        </div>

                        <br>

                        {{> questions-2}}

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>


            <br>

            <!-- START FOOTER -->
            {{> footer}}
            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <br>
  </body>
</html>
