<!doctype html>
<html>
  <head>
    {{> head }}
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader">Hello, {{> username4 }}. Thank you for your Purchase Order with Bullion Exchanges. You can check the status of your order by logging into your account.</span>

            {{> header }}

            <br>

            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p class="text-center greetings" id="greetings">Hello <span style="text-transform: capitalize;">{{> username4 }}</span>,</p>
                        <br>
                        <p id="thank-you" class="text-center text-uppercase color-1 bold thank-you">Thank you for your business</p>
                        <br>
                        <p class="greetings-end text-center" id="greetings-end">
                          Your BullionExchanges.com purchase order has been placed!
                        </p>
                        <br>
                        <table class="info">
                          <tr>
                            <td>Order #<span class="bold order-digit">{{> purchaseOrderNumber }}</span></td>
                          </tr>
                          <tr>
                            <td>Order Date <span class="bold order-digit">{{> purchaseOrderDate }}</span></td>
                          </tr>
                        </table>
                        <br>


                        {{> bottom-table-border }}

                        <table class="bottom">
                          <thead>
                            <tr>
                              <td class="thead-first-cell">
                                <div>Seller Information</div>
                              </td>
                              <td class="thead-second-cell">
                                <div>Purchaser Information</div>
                              </td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="first-cell">
                                <div>
                                  <p class="address">
                                    {{> sellerInfo }}
                                  </p>
                                </div>
                                <div><p></p></div>
                                
                              </td>
                              <td class="second-cell">
                                <div>
                                  <p class="address">
                                    {{> purchaserInfo }}
                                  </p>
                                </div>
                                <div><p></p></div>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <br>


                        {{> bottom-table-border }}

                        <table class="bottom">
                          <thead>
                            <tr>
                              <td class="thead-first-cell">
                                <div>Shipping information</div>
                              </td>
                              <td class="thead-second-cell">
                                <div>Tracking</div>
                              </td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="first-cell">
                                <div>
                                  <p class="address">
                                    {{> shippingInfo }}
                                  </p>
                                </div>
                                <div><p></p></div>
                                
                              </td>
                              <td class="second-cell">
                                <div>
                                  <p class="address">
                                    You must provide Bullion Exchanges with the tracking information for your package which must be postdated within 2 business days of the sale confirmation. <a style="font-size:13px; word-wrap: break-word;" href="mailto:customerservice@bullionexchanges.com">customerservice@bullionexchanges.com</a>
                                  </p>
                                </div>
                                <div><p></p></div>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <br>
                        <br>

                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>Order Summary</span></div>
                        </div>

                        <br>

                        {{> po-new-order-table }}

                        {{> border-bottom-white }}


                        <br>

                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>Questions?</span></div>
                        </div>

                        <br>

                        {{> questions-2 }}


                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>


            <br>

            <!-- START FOOTER -->
            {{> footer }}
            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <br>
  </body>
</html>
