<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            {{!-- <span class="preheader">Bullion Mailing Cart Reminder 2.</span> --}}

            {{> header}}

            <br>

            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p class="text-center greetings" id="greetings">Hello <span style="text-transform: capitalize;">{{> username3 }}</span>,</p>
                        <br>
                        <p class="text-center text-uppercase color-1 bold thank-you" id="thank-you">Your cart is waiting for you</p>
                        <br>
                        <p class="greetings-end" id="greetings-end" style="padding-left: 38px; padding-right: 38px; text-align: center;">
                          We noticed you haven't finished shopping with <a class="link" href="BullionExchanges.com">BullionExchanges.com</a> and want to make sure you don't have any questions or concerns.
                        </p>

                        <br>

                        <div class="rounded-box">
                          <div>
                            <p>If you experianced difficulties or had concerns during making a purchase on BullionExchanges.com please do not hasitate to get in touch with us.</p>

                            <br>

                            <p>
                              Contact us at<br>
                              <a class="link" href="mailto:{{> supportMail }}">{{> supportMail }}</a>
                            </p>

                            <br>

                            <p>
                              Call us at<br>
                              <span class="bold">{{> phone }}</span><br>
                              {{> time }}
                            </p>
                          </div>
                        </div>

                        <br>

                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-secondary btn-complete-purchase">
                          <tbody>
                            <tr>
                              <td class="text-center">
                                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                  <tbody>
                                    <tr>
                                      <td style="text-align: center;">
                                        <!--[if mso]>
                                          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{> abandonedCartLink}}" style="height:36px;v-text-anchor:middle;width:230px;" arcsize="5%" strokecolor="#B58C00" fillcolor="#B58C00">
                                            <w:anchorlock/>
                                            <center style="color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:17px;">Finish Your Purchase</center>
                                          </v:roundrect>
                                        <![endif]-->
                                        <a style="padding: 6px 0; width: 230px; mso-hide:all;" href="{{> abandonedCartLink }}" target="_blank">Finish Your Purchase</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <br>

                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>Items left in your Cart</span></div>
                        </div>

                        <br>

                        {{> order-table-2}}
                        {{> border-bottom-white}}


                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>What else...</span></div>
                        </div>

                        <br>
                        <br>

                        <table class="bottom">
                          <thead>
                            <tr>
                              <td>Market and Price Alerts</td>
                              <td>Check Your Cart</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td style="padding-right: 15px;">
                                <p class="address">
                                  Timing is crucial with Precious Metals - Bullion Exchanges offers you an option to receive customized <a class="link" target="_blank" href="http://bullionexchanges.com/pricealert/">alerts</a> and notifications once your targeted price has been reached.
                                </p>
                              </td>
                              <td>
                                <p class="address">
                                  You can check items in your cart on Bullionexchanges.com by <a class="link" target="_blank" href="http://bullionexchanges.com/customer/account/login/">logging</a> into your account.
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <br>

                        <br>
                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span style="font-size: 18px;">See What's New In Store Now</span></div>
                        </div>

                        {{> products-grid }}
                        
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>


            <br>

            <!-- START FOOTER -->
            {{> footer}}
            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <br>
  </body>
</html>
