<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            {{!-- <span class="preheader">Bullion Mailing Shipment Updated.</span> --}}

            {{> header}}

            <br>

            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p class="text-center greetings" id="greetings">Hello <span style="text-transform: capitalize;">{{> username }}</span>,</p>
                        <br>
                        <p id="thank-you" style="font-size: 21px;" class="text-center color-1 bold thank-you">Your order #{{> ordernumber }} shipment has been updated.</p>
                        
                        <br>

                        <div class="shipment-comment">
                          {{> shipmentComment }}
                        </div>

                        <br>

                        <p class="text-center">You can check the status of your order by logging into <a target="_blank" href="http://bullionexchanges.com/customer/account/login/">your account</a>.</p>

                        <br>
                        <br>

                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>Questions?</span></div>
                        </div>

                        <br>

                        {{> questions-2}}


                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>


            <br>

            <!-- START FOOTER -->
            {{> footer}}
            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <br>
  </body>
</html>
