<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            {{!-- <span class="preheader">Bullion Mailing PO Merch Received.</span> --}}

            {{> header}}

            <br>

            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p class="text-center greetings" id="greetings">Hello <span style="text-transform: capitalize;">{{> username4 }}</span>,</p>
                        <br>

                        <div class="text-center">
                          <div class="rounded-gray">

                            <table>
                              <tr>
                                <td class="rg-a">Order:</td>
                                <td style="font-weight: bold;">#{{> purchaseOrderNumber }}</td>
                              </tr>
                              <tr>
                                <td class="rg-a">Name:</td>
                                <td style="font-weight: bold;">{{> username4 }}</td>
                              </tr>
                              <tr>
                                <td class="rg-a">Email:</td>
                                <td style="font-weight: bold;">{{> mailAddress }}</td>
                              </tr>
                            </table>
                          </div>
                        </div>

                        <br>

                        {{> order-table }}

                        {{> border-bottom-white }}

                        {{> po-subtotal-full }}

                        {{> border-bottom-white }}

                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>Questions?</span></div>
                        </div>

                        <br>

                        {{> questions-2}}

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>


            <br>

            <!-- START FOOTER -->
            {{> footer}}
            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <br>
  </body>
</html>
