<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            {{!-- <span class="preheader">Bullion Mailing PO Shipping Label.</span> --}}

            {{> header}}

            <br>

            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p class="text-center greetings" id="greetings">Hello <span style="text-transform: capitalize;">{{> username4 }}</span>,</p>
                        <br>
                        <p id="thank-you" class="text-center color-1 bold thank-you" style="font-size: 25px;">Thank you for selling to Bullion Exchanges.</p>
                        <br>
                        <p class="text-center greetings-end" id="greetings-end">
                          Please find your prepaid Shipping Label attached, and all the necessary details for an easy and secure delivery.
                        </p>


                        <br>
                        <br>

                        <div>
                          Please note:<br>
                          <br>
                          <table cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="10" align="left" valign="top">–</td>
                                <td width="200" align="left" valign="top">
                                  All items should be carefully wrapped and packaged to avoid any possible damages and the disclosing of the content while in transit.
                                </td>
                              </tr>
                              <tr>
                                <td align="left" valign="top">–</td>
                                <td align="left" valign="top">
                                  Refer to the Trade Information email you received a short while ago for detailed shipping instructions.
                                </td>
                              </tr>
                              <tr>
                                <td align="left" valign="top">–</td>
                                <td align="left" valign="top">
                                  Be sure to check out the company's shipment policies for further information.
                                </td>
                              </tr>
                              <tr>
                                <td align="left" valign="top">–</td>
                                <td align="left" valign="top">
                                  Use your order <span style="font-weight:bold;">#{{> purchaseOrderNumber}}</span> to follow the updates and keep track of your order.
                                </td>
                              </tr>
                              <tr>
                                <td align="left" valign="top">–</td>
                                <td align="left" valign="top">
                                  You will get a confirmation email once your shipment is received.
                                </td>
                              </tr>
                          </table>
                        </div>
                        <br>
                        <br>

                        <p>
                          *This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.
                        </p>

                        <br>
                        <br>

                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>Questions?</span></div>
                        </div>

                        <br>

                        {{> questions-2}}

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>


            <br>

            <!-- START FOOTER -->
            {{> footer}}
            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <br>
  </body>
</html>
