<!doctype html>
<html>
  <head>
    {{> head }}
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            {{!-- <span class="preheader">Bullion Mailing Credit Memo.</span> --}}

            {{> header }}

            <br>

            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p class="text-center greetings" id="greetings">Hello <span style="text-transform: capitalize;">{{> username }}</span>,</p>
                        <br>
                        <table class="info">
                          <tr>
                            <td style="width: inherit;">Credit Memo #<span class="bold order-digit">{{> creditMemo }}</span></td>
                            <td style="text-align: center;">Order #<span class="bold order-digit">{{> ordernumber }}</span></td>
                          </tr>
                        </table>
                        <br>

                        {{> bottom-table-border }}

                        <table class="bottom">
                          <thead>
                            <tr>
                              <td class="thead-first-cell">
                                <div>Billing <span>Information</span></div>
                              </td>
                              <td class="thead-second-cell">
                                <div>Payment <span>Method</span></div>
                              </td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="first-cell">
                                <div>
                                  <p class="address" style="padding-bottom: 0">
                                    {{> billingAddress2 }}
                                  </p>
                                </div>
                                <div><p></p></div>
                                
                              </td>
                              <td class="second-cell">
                                <div>
                                  <p class="address" style="padding-bottom: 0">
                                    {{> paymentMethod }}
                                  </p>
                                </div>
                                <div><p></p></div>
                              </td>
                            </tr>
                          </tbody>
                        </table>


                        <br>

                        {{> bottom-table-border }}

                        <table class="bottom">
                          <thead>
                            <tr>
                              <td class="thead-first-cell">
                                <div>Shipping <span>Information</span></div>
                              </td>
                              <td class="thead-second-cell">
                                <div>Shipping <span>Method</span></div>
                              </td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="first-cell">
                                <div>
                                  <p class="address" style="padding-bottom: 0">
                                    {{> shippingAddress2 }}
                                  </p>
                                </div>
                                <div><p></p></div>
                                
                              </td>
                              <td class="second-cell">
                                <div>
                                  <p class="address" style="padding-bottom: 0">
                                    {{> shippingMethod2}}
                                  </p>
                                </div>
                                <div><p></p></div>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <br>
                        <br>

                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>Order Summary</span></div>
                        </div>

                        <br>

                        {{> credit-memo-items-table }}

                        {{> border-bottom-white }}



                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>Questions?</span></div>
                        </div>

                        <br>
                        <br>

                        {{> questions-2 }}


                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>


            <br>

            <!-- START FOOTER -->
            {{> footer }}
            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <br>
  </body>
</html>
