<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            {{!-- <span class="preheader">Bullion Mailing PO Trade Info.</span> --}}

            {{> header}}

            <br>

            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p class="text-center greetings" id="greetings">Hello <span style="text-transform: capitalize;">{{> username4 }}</span>,</p>
                        <br>
                        <p>
                          We are pleased to welcome you back to sell to us once again, our team is pleased to provide you with all the necessary information for completing your sale to us in the most efficient and secure manner. In order to process your transaction as promptly as possible, please closely follow the instructions below:
                        </p>

                        <br>

                        <p class="text-center greetings-end" id="greetings-end">
                          Your Purchase Order number:
                        </p>

                        <br>

                        <div class="text-center">
                          <div class="rounded-gold">
                            {{> purchaseOrderNumber }}
                          </div>
                        </div>

                        <br>
                        <br>

                        <table cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="15" align="left" valign="top">–</td>
                              <td width="200" align="left" valign="top">
                                Note the invoice with your lock in information attached to this notification.
                              </td>
                            </tr>
                            <tr>
                              <td align="left" valign="top">–</td>
                              <td align="left" valign="top">
                                Print a copy of the attached documents to enclose with your package.
                              </td>
                            </tr>
                            <tr>
                              <td align="left" valign="top">–</td>
                              <td align="left" valign="top">
                                Find the attached Sales Record form - this form must be filled in, printed, signed, and placed inside your package along with the merchandise.
                                <div style="padding-left:30px;">
                                  It is not necessary to attach your state id/driver's license.
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td align="left" valign="top">–</td>
                              <td align="left" valign="top">
                                Package your items carefully to avoid possible damages and the disclosing of the content during transit. Shipment is the responsibility of the seller, and it is imperative to use proper packing materials, including but not limited to bubble wrap and packing peanuts.
                              </td>
                            </tr>
                            <tr>
                              <td align="left" valign="top">–</td>
                              <td align="left" valign="top">
                                Place the shipping label on the box and make sure it's visible.
                              </td>
                            </tr>
                            <tr>
                              <td align="left" valign="top">–</td>
                              <td align="left" valign="top">
                                Ship your securely packaged items to the following address:
                                <div style="padding-left:30px;font-weight:bold;">
                                  BE Customer Service<br>
                                  30 West 47th Street<br>
                                  Suite 805<br>
                                  New York, NY 10036<br>
                                  <a href="tel:12123541517" value="+12123541517" target="_blank">(212)354-1517</a><br>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td align="left" valign="top">–</td>
                              <td align="left" valign="top">
                                Provide Bullion Exchanges with the tracking information of your package at <a href="mailto:customerservice@bullionexchanges.com" target="_blank">customerservice@bullionexchanges.com</a> within 2 business days after this sale confirmation.
                              </td>
                            </tr>
                            <tr>
                              <td align="left" valign="top">–</td>
                              <td align="left" valign="top">
                                Finally, when your shipment arrives, it will be unpacked and verified under video surveillance. If there are any discrepancies you will be contacted immediately.
                              </td>
                            </tr>
                            <tr>
                              <td align="left" valign="top">–</td>
                              <td align="left" valign="top">
                                Once your items have been delivered and inspected for accuracy, we will process your purchase and release the payment within three business days.
                              </td>
                            </tr>
                        </table>

                        <br>
                        <br>

                        <p>
                          We recommend shipping your products Priority Mail with signature confirmation required upon delivery via the United States Postal Service, and purchase insurance.
                        </p>
                        <br>
                        <p>
                          Bullion Exchanges is dedicated to offering our clients superior customer service, competitive rates, and a hassle free selling and buying experience. Please do not hesitate to contact us if you require any assistance, or have any questions or comments relating to this transaction.
                        </p>
                        <br>
                        <p style="font-size: x-small;">
                          <span style="font-weight:bold;">Please note:</span> All products sold to Bullion Exchanges must be received in the condition and/or certification guaranteed during lock in. Bullion Exchanges reserves the right to make price adjustments due to internal human or technological errors, as well as price adjustments due to damaged packages and/or product discrepancies not described by the customer in regards to type, condition, or grade, upon arrival at our facility. Bullion Exchanges will delay processing, which may result in the cancellation of the purchase in the event of such discrepancies, in which case you will be contacted immediately.
                        </p>

                        <br>
                        <br>

                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>Questions?</span></div>
                        </div>

                        <br>

                        {{> questions-2}}

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>


            <br>

            <!-- START FOOTER -->
            {{> footer}}
            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <br>
  </body>
</html>
