<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            {{!-- <span class="preheader">Bullion Mailing Invoice.</span> --}}

            {{> header}}

            <br>

            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p class="text-center greetings" id="greetings">Hello <span style="text-transform: capitalize;">{{> username }}</span>,</p>
                        <br>
                        <p class="text-center text-uppercase color-1 bold thank-you" id="thank-you">Thank you for your business</p>
                        <br>
                        <p class="text-center greetings-end" id="greetings-end">
                          Your BullionExchanges.com order has been placed!
                        </p>
                        <br>
                        <table class="info">
                          <tr>
                            <td>Order #<span class="bold order-digit">{{> ordernumber }}</span></td>
                          </tr>
                          <tr>
                            <td>Order Date <span class="bold order-digit">{{> orderdate }}</span></td>
                          </tr>
                        </table>
                        <br>
                        <p class="text-center greetings-end" id="greetings-end">
                          To complete your purchase please send the wire payment for the amount of <span class="bold">{{> checkTotal }}</span> to the following:
                        </p>

                        <br>

                        <div class="text-center">
                          <div class="rounded-solid">
                            {{> invoiceAddress }}
                          </div>
                        </div>

                        <br>

                        <p class="text-center greetings-end" id="greetings-end">
                          Once we receive the funds we will ship purchased item(s), and you'll get an Email with a link to track your order
                        </p>

                        <br>
                        <table class="additional" id="additional">
                          <thead>
                            <tr>
                              <td style="width: 52%;">Have questions?</td>
                              <td>Check order status</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <p>Contact us at</p>
                                <p style="padding-bottom: 15px;"><a class="link color-1 contact-mail" href="mailto:{{> supportMail }}">{{> supportMail }}</a></p>
                                <p>Call us at</p>
                                <p>{{> phone }}</p>
                                <p>{{> time }}</p>
                              </td>
                              <td>
                                <p>You can check the status of your order on Bullionexchanges.com by logging into your account.</p>
                                <br>
                                <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary btn-fullwidth">
                                  <tbody>
                                    <tr>
                                      <td align="left">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                          <tbody>
                                            <tr>
                                              <td>
                                                <!--[if mso]>
                                                  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://bullionexchanges.com/customer/account/login/" style="height:30px;v-text-anchor:middle;width:260px;" arcsize="5%" strokecolor="#B58C00" fillcolor="#FFFFFF">
                                                    <w:anchorlock/>
                                                    <center style="color:#b58c00;font-family:Helvetica, Arial,sans-serif;font-size:14px;">&rarr; Login</center>
                                                  </v:roundrect>
                                                <![endif]-->
                                                <a style="mso-hide:all;" id="arrow-button" class="arrow-button" href="http://bullionexchanges.com/customer/account/login/" target="_blank">
                                                  <span class="inner">
                                                    <img src="http://bullionexchanges.com/media/email/new/arrow.png" alt="Image"> Login
                                                  </span>
                                                </a>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <br>
                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span style="font-size: 18px;">See What's New In Store Now</span></div>
                        </div>

                        {{> products-grid}}
                        
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>


            <br>

            <!-- START FOOTER -->
            {{> footer}}
            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <br>
  </body>
</html>
