<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            {{!-- <span class="preheader">Bullion Mailing Presale Order.</span> --}}

            {{> header}}

            <br>

            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p class="text-center greetings" id="greetings">Hello <span style="text-transform: capitalize;">{{> username5 }}</span>,</p>
                        <br>
                        <p class="">
                          Your Order <span class="bold">#{{> ordernumber2 }}</span> contains items that are marked as <span class="bold">Pre-Sale</span>, as been stated prior to checking out, with an expected shipping date of (<span class="bold">{{> shipping_date }}</span>). Please be advised that the entire order will be delayed until the item's expected delivery date.
                        </p>

                        <br>

                        {{> order-table-presale}}
                        {{> border-bottom-white}}


                        <p>
                          If this order contains additional items that are not on pre-sale, and you would like to receive these prior to the expected shipping date, please contact our customer service department via email, phone number or live chat.
                        </p>

                        <br>
                        <br>

                        <p class="greetings-end" id="greetings-end">
                          While you wait for your pre-sale items, please be sure to check out some of our <span class="bold">on-sale</span> items:
                        </p>

                        <br>

                        {{> products-sale-grid }}

                        <br>
                        <br>

                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>Questions?</span></div>
                        </div>

                        <br>

                        {{> questions-2}}


                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>


            <br>

            <!-- START FOOTER -->
            {{> footer}}
            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <br>
  </body>
</html>
