<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            {{!-- <span class="preheader">Bullion Mailing Register Confirmed.</span> --}}

            {{> header}}

            <br>

            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <div class="firework-1">
                          <p class="text-center greetings" id="greetings">Hello <span style="text-transform: capitalize;">{{> username2 }}</span>,</p>
                          <br>
                          <p id="thank-you" class="text-center color-1 bold thank-you">Nice to see You among Bullionaires!</p>
                          <br>
                          </div>
                          <p class="text-center greetings-end" id="greetings-end">
                            You are now a registered BullionExchanges.com user!<br>We hope you will have good times using our service.
                          </p>


                        <div class="firework-2">
                          <br>
                          <br>
                          <br>

                          <div class="big-heading">
                            <!--[if !((gte mso 9)|(IE))]><!-->
                            <div class="big-heading-line"></div>
                            <!--<![endif]-->
                            <div class="big-heading-title" id="big-heading-title"><span>Login Details</span></div>
                          </div>

                          <br>
                          <br>
                        </div>

                        <div class="text-center">
                          <div class="rounded-gray">

                            <table>
                              <tr>
                                <td>Email:</td>
                                <td style="font-weight: bold;">{{> newAccountEmail }}</td>
                              </tr>
                              <tr>
                                <td>Password:</td>
                                <td style="font-style: italic;">{{> newAccountPassword }}</td>
                              </tr>
                            </table>
                          </div>
                        </div>

                        <br>

                        <div>
                          When you log in to your account, you will be able to do the following:<br>
                          <br>
                          <table cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="10" align="left" valign="top">–</td>
                                <td width="200" align="left" valign="top">
                                  Proceed through checkout faster when making a purchase
                                </td>
                              </tr>
                              <tr>
                                <td align="left" valign="top">–</td>
                                <td align="left" valign="top">
                                  Check the status of orders
                                </td>
                              </tr>
                              <tr>
                                <td align="left" valign="top">–</td>
                                <td align="left" valign="top">
                                  View past orders
                                </td>
                              </tr>
                              <tr>
                                <td align="left" valign="top">–</td>
                                <td align="left" valign="top">
                                  Make changes to your account information
                                </td>
                              </tr>
                              <tr>
                                <td align="left" valign="top">–</td>
                                <td align="left" valign="top">
                                  Change your password
                                </td>
                              </tr>
                              <tr>
                                <td align="left" valign="top">–</td>
                                <td align="left" valign="top">
                                  Store alternative addresses (for shipping to multiple family members and friends!)
                                </td>
                              </tr>
                          </table>
                        </div>
                        <br>
                        <br>

                        <p class="text-center">
                          *You can change login details and other account data any time.<br>
                          <a class="link" target="_blank" href="http://bullionexchanges.com/customer/account/login/">Login</a> to Bullionexchanges.com and navigate to <a class="link" href="http://bullionexchanges.com/customer/account/edit/">account</a> section.
                        </p>

                        <br>
                        <br>

                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>Questions?</span></div>
                        </div>

                        <br>

                        {{> questions-2}}

                        <br>
                        <br>


                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>What to do now...</span></div>
                        </div>

                        <br>
                        <br>

                        {{> register-table}}


                        </td>
                        </tr>
                        </table>
                        </td>
                        </tr>
                        </table>

                        <!-- closing main tables so filled block could be fullwidth -->

                        <table class="filled" id="filled">
                          <tr>
                            <td>We are offering Free Shipping on all orders above $ 75</td>
                          </tr>
                        </table>

                        <!-- opening main tables again -->

                        <table class="main">
                        <tr>
                        <td class="wrapper">
                        <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                        <td>

                        <br>

                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span style="font-size: 18px;">See What's New In Store Now</span></div>
                        </div>

                        {{> products-grid}}

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>


            <br>

            <!-- START FOOTER -->
            {{> footer}}
            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <br>
  </body>
</html>
