<!doctype html>
<html>
  <head>
    {{> head }}
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader">Hello, {{> username }}. Thank you for your Order from Bullion Exchanges. Once your package shipped we will send you an email with a link to track your order, this won't take long.</span>

            {{> header }}

            <br>

            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p class="text-center greetings" id="greetings">Hello <span style="text-transform: capitalize;">{{> username }}</span>,</p>
                        <br>
                        <p class="text-center text-uppercase color-1 bold thank-you" id="thank-you">Thank you for your business</p>
                        <br>
                        <p class="greetings-end text-center" id="greetings-end">
                          Your BullionExchanges.com order has been placed!
                          <br>
                          Once your package shipped we will send you an email with a link to track your order, this won't take long.
                        </p>
                        <br>
                        <table class="info">
                          <tr>
                            <td>Order #<span class="bold order-digit">{{> ordernumber }}</span> <span style="text-transform:none;">-- Paid via <span style="font-weight:bold;">({{> paymentTitle }})</span></span></td>
                          </tr>
                          <tr>
                            <td>Order Date <span class="bold order-digit">{{> orderdate }}</span></td>
                          </tr>
                        </table>

                        <br>

                        {{> bottom-table-border }}

                        <table class="bottom">
                          <thead>
                            <tr>
                              <td class="thead-first-cell">
                                <div>Shipping <span>Address</span></div>
                              </td>
                              <td class="thead-second-cell">
                                <div>Billing <span>Information</span></div>
                              </td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="first-cell">
                                <div>
                                  <p class="address">
                                    {{> shippingAddress }}
                                  </p>
                                  <span class="method">
                                    <div>Shipping Method: <span class="bold">{{> shippingMethod }}</span></div>
                                  </span>
                                </div>
                                <div><p></p></div>
                                
                              </td>
                              <td class="second-cell">
                                <div>
                                  <p class="address">
                                    {{> billingAddress }}
                                  </p>
                                  <span class="method">
                                    <div>Payment Method: {{> paymentMethod }}</div>
                                  </span>
                                </div>
                                <div><p></p></div>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <br>
                        <br>

                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>Order Summary</span></div>
                        </div>

                        <br>

                        {{> order-table }}

                        {{> border-bottom-white }}

                        {{> subtotal }}

                        {{> border-bottom-white-cms-blank }}

                        {{> order-notes }}

                        <br>

                        {{> questions-1 }}


                        <br>
                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span style="font-size: 18px;">See What's New In Store Now</span></div>
                        </div>

                        {{> products-grid }}

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>


            <br>

            <!-- START FOOTER -->
            {{> footer }}
            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <br>
  </body>
</html>
