<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            {{!-- <span class="preheader">Bullion Mailing New Password.</span> --}}

            {{> header}}

            <br>

            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p class="text-center greetings" id="greetings">Hello <span style="text-transform: capitalize;">{{> username2 }}</span>,</p>
                        <br>
                        <p class="text-center">There was recently a request to change the password for your account.</p>
                        <br>
                        <p class="text-center">If you requested this password change, please click on the following button to reset your password:</p>
                        <br>

                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary confirm-email-btn">
                          <tbody>
                            <tr>
                              <td class="text-center">
                                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                  <tbody>
                                    <tr>
                                      <td style="text-align:center;">
                                        <!--[if mso]>
                                          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{> resetPasswordLink }}" style="height:30px;v-text-anchor:middle;width:280px;" arcsize="5%" strokecolor="#B58C00" fillcolor="#FFFFFF">
                                            <w:anchorlock/>
                                            <center style="color:#b58c00;font-family:Helvetica, Arial,sans-serif;font-size:16px;">&rarr; Reset my Password</center>
                                          </v:roundrect>
                                        <![endif]-->
                                        <a style="mso-hide:all;" id="reset-password-link" href="{{> resetPasswordLink }}" target="_blank"><img src="http://bullionexchanges.com/media/email/new/arrow.png" alt="Image"> Reset my Password</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <br>

                        <p class="small">
                          *If you did not make this request, you can ignore this message and your password will remain the same.
                        </p>


                        <br>
                        <br>

                        <div class="big-heading">
                          <!--[if !((gte mso 9)|(IE))]><!-->
                          <div class="big-heading-line"></div>
                          <!--<![endif]-->
                          <div class="big-heading-title" id="big-heading-title"><span>Questions?</span></div>
                        </div>

                        <br>

                        {{> questions-2}}


                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>


            <br>

            <!-- START FOOTER -->
            {{> footer}}
            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <br>
  </body>
</html>
