<table class="order-items">
  <thead>
    <tr>
      <th style="text-align: left;">Items</th>
      <th style="text-align: left;">Price</th>
      <th class="order-qty-alt">Qty</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p style="font-weight: bold;">2.5 gram Gold Bar PAMP Suisse Lady Fortuna Veriscan .9999 Fine(In Assay)</p>
        <p>SKU: SCAUMON1601</p>
      </td>
      <td>$28.78</td>
      <td class="order-qty-alt">20</td>
    </tr>
    <tr>
      <td>
        <p style="font-weight: bold;">2.5 gram Gold Bar PAMP Suisse Lady Fortuna Veriscan .9999 Fine(In Assay)</p>
        <p>SKU: SCAUMON1601</p>
      </td>
      <td>$28.78</td>
      <td class="order-qty-alt">20</td>
    </tr>
  </tbody>
</table>

<table class="spacer">
  <tr><td><span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td></tr>
</table>
<br>

<p class="heading" style="padding-bottom: 8px;">Order Totals</p>

<table class="order-cost">
  <tbody>
    <tr>
      <td>Subtotal</td>
      <td>$625.40</td>
    </tr>
    <tr>
      <td>Shipping & Handling</td>
      <td>$0.00</td>
    </tr>
    <tr>
      <td>Taxes</td>
      <td>$0.00</td>
    </tr>
    <tr>
      <td><strong>Grand Total</strong></td>
      <td><strong>$625.40</strong></td>
    </tr>
  </tbody>
</table>