<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- inject-style src="./src/styles.css" -->
<link rel="stylesheet" href="styles.css">

<style>
  @media only screen and (max-width: 620px) {
    table[class=body] h1 {
      font-size: 28px !important;
    }
    table[class=body] .wrapper,
    table[class=body] .article {
      padding: 10px !important; }
    table[class=body] .content {
      padding: 0 !important; }
    table[class=body] .container {
      padding: 10px 0 0 !important;
      width: 100% !important; }
    table[class=body] .main {
      border-left-width: 0 !important;
      border-radius: 0 !important;
      border-right-width: 0 !important; }
    table[class=body] .btn table {
      width: 100% !important; }
    /*table[class=body] .btn a {
      width: 100% !important; 
    }*/
    table[class=body] .img-responsive {
      height: auto !important;
      max-width: 100% !important;
      width: auto !important; }
    }

    @media only screen and (max-width: 540px) {
      table[class=body] .header a {
        font-size: 14px !important;
      }
      #sell-to-us-img {
        height: 25px;
      }
      #menu-gold {
        width: 13%;
      }
      #menu-ira {
        width: 13%;
      }
      #menu-on-sale {
        width: 20%;
      }
      #mobile-footer-link,
      #mobile-footer-phone {
        display: none !important;
      }
      #mobile-footer-table-link {
        display: table !important;
        padding-bottom: 10px !important;
        overflow: visible !important;
        float: none !important;
        line-height: 100% !important;
      }
      #mobile-footer-table-link a {
        font-size: 16px !important;
      }
      #mobile-footer-table-phone {
        display: table !important;
        padding-top: 10px !important;
        overflow: visible !important;
        float: none !important;
        line-height: 100% !important;
      }
      #mobile-footer-table-phone td {
        font-size: 16px !important;
        font-weight: bold !important;
      }
      #mobile-footer-social {
        padding: 0 20% !important;
      }
      #contact-cell-phone span {
        font-size: 27px !important;
      }
      #text-logo-first {
        font-size: 30px !important;
      }
      #text-logo-second {
        font-size: 21px !important;
      }
      #arrow-button img {
        padding-right: 21% !important;
      }
      #thank-you {
        font-size: 23px !important;
        line-height: 26px !important;
      }
      #greetings-end {
        font-size: 17px !important;
      }
      #additional thead tr td {
        font-size: 15px !important;
      }
      #bottom-register-continue tfoot .btn-primary a img {
        padding-left: 15px !important;
      }

      .bottom .thead-first-cell span,
      .bottom .thead-second-cell span {
        display: block !important;
      }
      .bottom .first-cell .address,
      .bottom .second-cell .address,
      .bottom .thead-first-cell,
      .bottom .thead-second-cell,
      .bottom .thead-second-cell div {
        padding-left: 10px !important;
      }
      .bottom .thead-first-cell,
      .bottom .first-cell {
        padding-right: 3px !important;
      }
      .bottom .thead-second-cell,
      .bottom .second-cell {
        padding-left: 3px !important;
      }
      .bottom .first-cell div .method, 
      .bottom .second-cell div .method {
        padding: 0 10px !important;
      }
      .bottom-table-border tr td.first {
        padding-right: 10px !important;
      }
      .bottom-table-border tr td.second {
        padding-left: 10px !important;
      }
    }

    @media only screen and (max-width: 420px) {
      table[class=body] .header a {
        font-size: 11px !important;
      }
      #sell-to-us-img {
        height: 21px;
      }
      #big-heading-title span {
        font-size: 16px !important;
        padding: 0 10px !important;
      }
      #contact-cell-phone span {
        font-size: 25px !important;
      }
      #greetings-end {
        font-size: 15px !important;
      }
      #thank-you {
        font-size: 20px !important;
        line-height: 22px !important;
      }
      #arrow-button {
        text-align: center !important;
      }
      #arrow-button span {
        padding-left: 0 !important;
      }
      #arrow-button img {
        padding-right: 10px !important;
      }
      #products-grid tr td {
        padding: 5px !important;
      }
      #products-grid .product-price,
      #products-sale-grid .product-price {
        font-size: 14px !important;
      }
      #products-sale-grid tr td {
        padding: 5px !important;
      }
      #products-sale-grid tr td div {
        padding: 15px 3px !important;
      }
      #bottom-register-continue tfoot a {
        text-align: center !important;
      }
      #bottom-register-continue tfoot a img {
        display: none !important;
      }
      #shipment-table tbody tr td {
        font-size: 15px !important;
        padding: 4px 0 4px 25px !important;
      }
      #shipment-table thead tr td {
        padding: 5px 0 5px 25px !important;
        font-size: 13px !important;
      }
      #sale-word {
        text-align: center !important;
      }
      #menu-gold {
        width: 10% !important;
      }
      #menu-on-sale {
        width: 60px !important;
      }
      #menu-sell-to-us {
        width: 18% !important;
      }
      #menu-ira {
        width: 11% !important;
      }
      #menu-charts {
        width: 11% !important;
      }
      #menu-ira {
        width: 9% !important;
      }
      #time {
        font-size: 12px !important;
      }
      #contact-cell-phone span {
        font-size: 22px !important;
      }
      #mid-large {
        font-size: 16px !important;
      }
      #greetings {
        font-size: 17px !important;
      }
    }

    @media only screen and (max-width: 350px) {
      #menu-sell-to-us {
        width: 21% !important;
      }
      #menu-charts {
        width: 14% !important;
      }
      #text-logo-first {
        font-size: 23px !important;
      }
      #text-logo-second {
        font-size: 16px !important;
      }
      #time {
        font-size: 11px !important;
      }
      #contact-cell-phone span {
        font-size: 20px !important;
      }
      #img-logo {
        padding-right: 5px !important;
      }
      #logo-cell {
        width: 145px !important;
      }
    }

  /* preserve these styles in the head */

  @media all {
    .ExternalClass {
      width: 100%; }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
      line-height: 100%; }
    .apple-link a {
      color: inherit !important;
      font-family: inherit !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      text-decoration: none !important; }
  }
</style>


<!--[if (gte mso 9)|(IE)]>
<style>
  .on-word { color: red !important; }
</style>
<![endif]-->

<!--[if mso]>
<style>
  .thead-first-cell { padding-left: 0px !important; border-left: 0 !important; }
  .thead-first-cell div { border-right: 0 !important; } 
  .thead-second-cell div { border-left: 0 !important; border-right: 0 !important; }
  .first-cell div { border-left: 0 !important; }
  .first-cell .method div, .second-cell .method div { border-top: 0 !important; }
  .first-cell .address, .second-cell .address { margin-bottom: 10px !important; margin-top: 10px !important; } 
  .second-cell div { border-left: 0 !important; border-right: 0 !important; }
  .thead-second-cell div { padding-left: 0px !important; }
  .rg-a { width: 5% !important; text-align: left !important; padding: 0 !important; }
  table.bottom tr td { width: 50% !important; }
</style>
<![endif]-->