<table border="0" cellpadding="0" cellspacing="0" class="order-items">
  <thead>
    <tr>
      <th style="text-align: left;" colspan="2">Item</th>
      <th class="order-qty-alt">Qty</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="item-image" style="vertical-align: middle;">
        <img src="http://i.imgur.com/yux3gh4.jpg" alt="Product">
      </td>
      <td>
        <p style="font-weight: bold;">2.5 gram Gold Bar PAMP Suisse Lady Fortuna Veriscan .9999 Fine(In Assay)</p>
        <p>SKU: SCAUMON1601</p>
      </td>
      <td class="order-qty-alt">20</td>
    </tr>
    <tr>
      <td class="item-image" style="vertical-align: middle;">
        <img src="http://i.imgur.com/yux3gh4.jpg" alt="Product">
      </td>
      <td>
        <p style="font-weight: bold;">2.5 gram Gold Bar PAMP Suisse Lady Fortuna Veriscan .9999 Fine(In Assay)</p>
        <p>SKU: SCAUMON1601</p>
      </td>
      <td class="order-qty-alt">20</td>
    </tr>
  </tbody>
</table>