<table class="order-items">
  <thead>
    <tr>
      <th style="text-align: left;">Items</th>
      <th class="unit-price">Unit Price</th>
      <th class="unit-qty">Qty</th>
      <th class="total-price">Total Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p style="font-weight: bold;">2.5 gram Gold Bar PAMP Suisse Lady Fortuna Veriscan .9999 Fine(In Assay)</p>
        <p>SKU: SCAUMON1601</p>
      </td>
      <td class="unit-price">$28.78</td>
      <td class="unit-qty">20</td>
      <td class="total-price">$575.60</td>
    </tr>
    <tr>
      <td>
        <p style="font-weight: bold;">2.5 gram Gold Bar PAMP Suisse Lady Fortuna Veriscan .9999 Fine(In Assay)</p>
        <p>SKU: SCAUMON1601</p>
      </td>
      <td class="unit-price">$300,728.78</td>
      <td class="unit-qty">20</td>
      <td class="total-price">$6,014,575.60</td>
    </tr>
  </tbody>
</table>

<table class="spacer">
  <tr><td><span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td></tr>
</table>
<br>

<p class="heading" style="padding-bottom: 8px;">Order Totals</p>

<table class="order-cost">
  <tbody>
    <tr>
      <td>Subtotal</td>
      <td>$625.40</td>
    </tr>
    <tr>
      <td><strong>Grand Total</strong></td>
      <td><strong>$625.40</strong></td>
    </tr>
  </tbody>
</table>