<table id="products-grid" class="products-grid">
  <tr>
    <td>
      <a href="#" target="_blank" class="img-wrapper link">
        <div>
          <img src="http://bullionexchanges.com/media/email/new/coin.png" alt="Coin">
          <p>2016 1 oz Silver American Eagle 1$ Coin BU</p>
        </div>
      </a>
      <p class="color-1 product-price"><a class="link" href="#">See Current Price</a></p>
    </td>
    <td>
      <a href="#" target="_blank" class="img-wrapper link">
        <div>
          <img src="http://bullionexchanges.com/media/email/new/coin.png" alt="Coin">
          <p>2016 1 oz Silver American Eagle 1$ Coin BU</p>
        </div>
      </a>
      <p class="color-1 product-price"><a class="link" href="#">See Current Price</a></p>
    </td>
  </tr>
</table>