<table cellspacing="0" cellpadding="0" border="0" class="products-grid products-sale-grid" id="products-sale-grid">
  <tr>
    <td>
      <a href="#" title="Product" target="_blank" class="img-wrapper link">
        <div>
          <img src="http://bullionexchanges.com/media/email/new/coin.png" alt="Coin" width="100" height="100">
          <p>2016 1 oz Silver American Eagle 1$ Coin BU</p>
        </div>
      </a>
      <p class="color-1 product-price"><a class="link" href="#" target="_blank">See Current Price</a></p>
    </td>
    <td>
      <a href="#" title="Product" target="_blank" class="img-wrapper link">
        <div>
          <img src="http://bullionexchanges.com/media/email/new/coin.png" alt="Coin" width="100" height="100">
          <p>2016 1 oz Silver American Eagle 1$ Coin BU</p>
        </div>
      </a>
      <p class="color-1 product-price"><a class="link" href="#" target="_blank">See Current Price</a></p>
    </td>
    <td>
      <a href="#" title="Product" target="_blank" class="img-wrapper link">
        <div>
          <img src="http://bullionexchanges.com/media/email/new/coin.png" alt="Coin" width="100" height="100">
          <p>2016 1 oz Silver American Eagle 1$ Coin BU</p>
        </div>
      </a>
      <p class="color-1 product-price"><a class="link" href="#" target="_blank">See Current Price</a></p>
    </td>
    <td>
      <a href="#" title="Product" target="_blank" class="img-wrapper link">
        <div>
          <img src="http://bullionexchanges.com/media/email/new/coin.png" alt="Coin" width="100" height="100">
          <p>2016 1 oz Silver American Eagle 1$ Coin BU</p>
        </div>
      </a>
      <p class="color-1 product-price"><a class="link" href="#" target="_blank">See Current Price</a></p>
    </td>
  </tr>
</table>
