<table class="additional" id="additional">
  <thead>
    <tr>
      <td style="width: 52%;">Have questions?</td>
      <td>Check order status</td>
    </tr>
  </thead>
  <tbody>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
      <td>
        <p>Contact us at</p>
        <p style="padding-bottom: 15px;"><a class="link color-1 contact-mail" href="mailto:{{> supportMail }}">{{> supportMail }}</a></p>
        <p>Call us at</p>
        <p>{{> phone }}</p>
        <p>{{> time }}</p>
      </td>
      <td>
        <p>You can check the status of your order on Bullionexchanges.com by logging into your account.</p>
        <br>
        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary btn-fullwidth">
          <tbody>
            <tr>
              <td align="left">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td>
                        <!--[if mso]>
                          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://bullionexchanges.com/customer/account/login/" style="height:30px;v-text-anchor:middle;width:260px;" arcsize="5%" strokecolor="#B58C00" fillcolor="#FFFFFF">
                            <w:anchorlock/>
                            <center style="color:#b58c00;font-family:Helvetica, Arial,sans-serif;font-size:14px;">&rarr; Login</center>
                          </v:roundrect>
                        <![endif]-->
                        <a style="mso-hide:all;" id="arrow-button" class="arrow-button" href="http://bullionexchanges.com/customer/account/login/" target="_blank">
                          <span class="inner"><img src="http://bullionexchanges.com/media/email/new/arrow.png" alt="Image"> Login</span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>