<p>If you have any questions about bullionexchanges.com please do not hasitate to get in touch.</p>

<br>

<p>
  Contact us at<br>
  <a class="link" href="mailto:{{> supportMail }}">{{> supportMail }}</a>
</p>

<br>

<p>

  Call us at<br>
  <span class="bold">{{> phone }}</span><br>
  {{> time }}
</p>