<div class="shipment-table" id="shipment-table">
  <table cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <td>Carrier</td>
        <td>Tracking Number</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{> carrier1 }}</td>
        <td>{{> trackNumber1 }}</td>
      </tr>
      <tr>
        <td>{{> carrier2 }}</td>
        <td>{{> trackNumber2 }}</td>
      </tr>
      <tr>
        <td>{{> carrier3 }}</td>
        <td>{{> trackNumber3 }}</td>
      </tr>
    </tbody>
  </table>
</div>