<p class="greetings-end" id="greetings-end">
  You are receiving this notification because you subscribed to receive alerts when the following products are back in stock:
</p>

<table class="alert-product-table">
  <tr>
    <td>
      <a href="#" title="1 oz American Flag Silver Bar .999 Silver (Sealed)">
        <img src="http://i.imgur.com/6JqwRK9.jpg" alt="Product">
      </a>
    </td>
    <td style="padding-left: 25px;">
      <p>
        <a href="#" title="1 oz American Flag Silver Bar .999 Silver (Sealed)">1 oz American Flag Silver Bar .999 Silver (Sealed)</a>
      </p>
      <p><span>Price:</span> <a href="#" title="1 oz American Flag Silver Bar .999 Silver (Sealed)">Click here</a></p>
    </td>
  </tr>
</table>

<p><a style="font-size:12px" href="#">Click Here to remove alerts for this product</a></p>

<br>