<p class="heading" style="padding-bottom: 8px;">Order Totals</p>

<table class="order-cost">
  <tbody>
    <tr>
      <td>Subtotal</td>
      <td>$625.40</td>
    </tr>
    <tr>
      <td>Shipping & Handling</td>
      <td>$0.00</td>
    </tr>
    <tr>
      <td>Taxes</td>
      <td>$0.00</td>
    </tr>
    <tr>
      <td><strong>Total</strong></td>
      <td><strong>$625.40</strong></td>
    </tr>
  </tbody>
</table>