<div class="footer">
  <table id="mobile-footer-table-link" style="overflow:hidden; float:left; display:none; line-height:0px;" border="0" cellpadding="0" cellspacing="0">
    <td class="website" style="text-align:center;"><a class="link color-1" href="http://bullionexchanges.com">BullionExchanges.com</a></td>
  </table>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td id="mobile-footer-link" class="website"><a class="link color-1" href="http://bullionexchanges.com">BullionExchanges.com</a></td>
      <td id="mobile-footer-social" class="social">
        <table>
          <tr>
            <td><a class="facebook" href="{{> facebookLink }}"><img src="http://bullionexchanges.com/media/email/new_icons/facebook.png" alt="Facebook"></a></td>
            <td><a class="twitter" href="{{> twitterLink }}"><img src="http://bullionexchanges.com/media/email/new_icons/twitter.png" alt="Twitter"></a></td>
            <td><a class="pinterest" href="{{> pinterestLink }}"><img src="http://bullionexchanges.com/media/email/new_icons/pinterest.png" alt="Pinterest"></a></td>
            <td><a class="linkedin" href="{{> linkedinLink }}"><img src="http://bullionexchanges.com/media/email/new_icons/linkedin.png" alt="Linkedin"></a></td>
            <td><a class="instagram" href="{{> instagramLink }}"><img src="http://bullionexchanges.com/media/email/new_icons/instagram.png" alt="Instagram"></a></td>
            <td><a class="google" href="{{> googleLink }}"><img src="http://bullionexchanges.com/media/email/new_icons/google.png" alt="Google"></a></td>
          </tr>
        </table>
      </td>
      <td id="mobile-footer-phone" class="phone">{{> phone }}</td>
    </tr>
  </table>
  <table id="mobile-footer-table-phone" style="overflow:hidden; float:left; display:none; line-height:0px;" border="0" cellpadding="0" cellspacing="0">
    <td class="phone" style="text-align:center;">{{> phone }}</td>
  </table>
</div>
<br>