<table border="0" cellpadding="0" cellspacing="0" class="header-logo">
  <tr>
    <td class="logo-cell" id="logo-cell">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="img-logo" id="img-logo"><img style="vertical-align: middle;" src="http://bullionexchanges.com/media/email/logo/logo-transparent.png" alt="Logo"></td>
          <td class="text-logo" id="text-logo">
          <p>
            <span id="text-logo-first">
              Bullion
            </span><br>
            <span id="text-logo-second">
              Exchanges
            </span>
          </p>
          </td>
        </tr>
      </table>
    </td>
    <td class="contact-cell">
      <p class="time" id="time">{{> time2 }}</p>
      <p class="phone" id="contact-cell-phone"> <img style="height: 22px;" src="http://bullionexchanges.com/media/email/new/phone-444.png" alt="Phone Icon">&nbsp;&nbsp;<span>{{> phone2 }}</span></p>
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" class="header">
  <tr class="menu-main-row">
    <td id="menu-gold">
      <a class="link" href="http://bullionexchanges.com/buy-gold">
        Gold
      </a>
    </td>
    <td id="menu-silver">
      <a class="link" href="http://bullionexchanges.com/buy-silver">
        Silver
      </a>
    </td>
    <td id="menu-on-sale">
      <a class="link" href="http://bullionexchanges.com/deals">
        <!--[if !((gte mso 9)|(IE))]><!-->
        <img id="sell-to-us-img" class="sell-to-us-img" src="http://bullionexchanges.com/media/email/new/ribbon_on.png">
        <!--<![endif]-->

        <!--[if (gte mso 9)|(IE)]>
        <span class="on-word">ON</span>
        <![endif]-->

        Sale
      </a>
    </td>
    <td id="menu-sell-to-us">
      <a class="link" href="http://bullionexchanges.com/sell-gold-silver-to-us">
        Sell to Us
      </a>
    </td>
    <td id="menu-charts">
      <a class="link" href="http://bullionexchanges.com/charts/">
        Charts
      </a>
    </td>
    <td id="menu-ira">
      <a class="link" href="http://bullionexchanges.com/ira">
        IRA
      </a>
    </td>
  </tr>
</table>