<table class="bottom bottom-register-continue" id="bottom-register-continue">
  <thead>
    <tr>
      <td>Check our great deals</td>
      <td>Learn about the Industry</td>
      <td>Get rewarded</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="padding-right: 10px;">
        <p class="address">
          Take a look at our exclusive and limitedly available deals on the most favored bullion bars, coins, and rounds.
        </p>
      </td>
      <td style="padding-right: 10px;">
        <p class="address">
          Find out more about the precious metals industry, bullion investments, new releases and market news in our Blog section. 
        </p>
      </td>
      <td class="address">
        As a Bullionaire Bucks member, you'll get rewards for every single $ spent on your orders. Enjoy all our exclusive benefits.
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td style="padding-right: 10px;">
        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary btn-fullwidth btn-wtd btn-reg-cont-1">
          <tbody>
            <tr>
              <td align="left">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td>
                        <!--[if mso]>
                          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://bullionexchanges.com/deals/" style="height:30px;v-text-anchor:middle;width:150px;" arcsize="5%" strokecolor="#B58C00" fillcolor="#FFFFFF">
                            <w:anchorlock/>
                            <span style="color:#b58c00;font-family:Helvetica, Arial,sans-serif;font-size:14px;padding-left:10px;">&rarr; View Deals</span>
                          </v:roundrect>
                        <![endif]-->
                        <a style="mso-hide:all;" href="http://bullionexchanges.com/deals/" target="_blank">
                          <img src="http://bullionexchanges.com/media/email/new/arrow.png"> View Deals
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="padding-right: 10px;">
        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary btn-fullwidth btn-wtd btn-reg-cont-2">
          <tbody>
            <tr>
              <td align="left">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td>
                        <!--[if mso]>
                          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://bullionexchanges.com/blog/" style="height:30px;v-text-anchor:middle;width:150px;" arcsize="5%" strokecolor="#B58C00" fillcolor="#FFFFFF">
                            <w:anchorlock/>
                            <span style="color:#b58c00;font-family:Helvetica, Arial,sans-serif;font-size:14px;padding-left:10px;">&rarr; Blog</span>
                          </v:roundrect>
                        <![endif]-->
                        <a style="mso-hide:all;" href="http://bullionexchanges.com/blog/" target="_blank">
                          <img src="http://bullionexchanges.com/media/email/new/arrow.png"> Blog
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary btn-fullwidth btn-wtd btn-reg-cont-3">
          <tbody>
            <tr>
              <td align="left">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td>
                        <!--[if mso]>
                          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://bullionexchanges.com/bullionaire-club-rewards-program/" style="height:30px;v-text-anchor:middle;width:150px;" arcsize="5%" strokecolor="#B58C00" fillcolor="#FFFFFF">
                            <w:anchorlock/>
                            <span style="color:#b58c00;font-family:Helvetica, Arial,sans-serif;font-size:14px;padding-left:10px;">&rarr; Learn More</span>
                          </v:roundrect>
                        <![endif]-->
                        <a style="mso-hide:all;" href="http://bullionexchanges.com/bullionaire-club-rewards-program/" target="_blank">
                          <img src="http://bullionexchanges.com/media/email/new/arrow.png"> Learn More
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tfoot>
</table>