img {
  border: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100%; }

body {
  background-color: #F0F0F0;
  color: #444;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

table {
  border-collapse: separate;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  width: 100%; }
  table td,
  table th {
    font-family: sans-serif;
    font-size: 14px;
    vertical-align: top; 
  }

/* body & container */

.body {
  background-color: #F0F0F0;
  width: 100%; }

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block;
  Margin: 0 auto !important;
  /* makes it centered */
  max-width: 600px;
  width: 600px;
  padding: 10px;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  // box-sizing: border-box;
  display: block;
  Margin: 0 auto;
  max-width: 600px;}

/* header, footer, main */

.main {
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  width: 100%; }

.wrapper {
  padding: 10px 20px 15px; 
}

.footer {
  clear: both;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.preheader {
  color: transparent;
  display: none;
  height: 0;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  mso-hide: all;
  visibility: hidden;
  width: 0; }

/* typography */

span {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #000000;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin: 0}

h1 {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize; }

p,
ul,
ol {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0}
  p li,
  ul li,
  ol li {
    list-style-position: inside;}

a {
  color: #b58c00;
  text-decoration: underline; }

/* buttons */

.btn {
  // box-sizing: border-box;
  width: 100%; }
  .btn > tbody > tr > td {
    padding-bottom: 15px; }
  .btn table {
    width: auto; }
  .btn table td {
    background-color: #ffffff;
    border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
  }
  .btn a {
    background-color: #ffffff;
    border: solid 1px #b58c00;
    border-radius: 5px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    color: #b58c00;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 6px 25px;
    text-decoration: none;
    text-transform: capitalize;
  }

.btn-primary a {
  background-color: #fff;
  border-color: #fff;
  color: #b58c00;
  border-color: #b58c00;
}

.btn-secondary a {
  background-color: #b58c00;
  border-color: #b58c00;
  border-color: #b58c00;
  color: #fff;
}

.btn.btn-fullwidth table,
.btn.btn-fullwidth table a {
  width: 100%;
}

.logo-cell {
  vertical-align: middle;
}

hr {
  border: 0;
  border-bottom: 1px solid #f6f6f6;}

/* responsive and mobulfe friendly styles */


/* custom: */

table.header-logo {
  table-layout: fixed;
  padding-bottom: 10px;
  .text-logo {
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 24px;
    p {
      font-weight: bold;
      color: #555555;
    }
  }
  .img-logo {
    width: 120px;
    padding-right: 10px;
    vertical-align: middle;
  }
  .contact-cell {
    vertical-align: middle;
    .time {
      color: #FA180A;
      font-weight: bold;
      text-align: right;
    }
    .phone {
      text-align: right;
      span {
        font-size: 32px;
        font-weight: bold;
        color: #555555;
      }
    }
  }
}

.sell-to-us-img {
  display: inline-block;
  vertical-align: middle;
}

.on-sale-text {
  display: inline-block;
}

table.header {
  table-layout: fixed;
  box-shadow: 0px 3px 10px 0px #ddd;
  border-radius: 2px;
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px;
  background-color: #ffffff;
  border-top: 1px solid #fdd128;
  height: 50px;
  tr td {
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    max-height: 50px;
    vertical-align: middle;
    a {
      color: #444;
      font-weight: bold;
      font-size: 15px;
      display: inline-block;
      height: 50px;
      max-height: 50px;
      line-height: 50px;
      width: 100%;
      vertical-align: middle;
      div {
        height: 50px;
        max-height: 50px;
        line-height: 50px;
      }
    }
  }
  .menu-main-row > td {
    &:nth-child(1) { width: 16%; }
    &:nth-child(2) { width: 14%; }
    &:nth-child(3) { width: 19%; }
    &:nth-child(4) { }
    &:nth-child(5) { width: 16%; }
    &:nth-child(6) { width: 15%; }
  }
}


table.info {
  background-color: #f0f0f0;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px;
  text-transform: uppercase;
  padding: 10px 0;
  table-layout: fixed;

  tr td {
    font-size: 15px;
    color: #000;
  }
}

.big-heading {
  text-transform: uppercase;
  text-align: center;
}

.big-heading-line {
  background-color: #F0F0F0;
  height: 2px;
}

.big-heading-title {
  line-height: 0px;

  span {
    text-transform: uppercase;
    text-align: center;
    background-color: #fff;
    padding: 0 20px;
    font-size: 20px;
  }
}

table.order-items {
  border-collapse: collapse;

  thead {
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
  }

  th, td {
    color: #000;
  }

  th.unit-qty,
  td.unit-qty {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
  th.unit-price,
  td.unit-price {
    text-align: left;
  }
  th.total-price,
  td.total-price {
    text-align: right;
  }

  th.order-qty-alt,
  td.order-qty-alt {
    text-align: right;
    padding-left: 5px;
  }
}

table.additional {
  table-layout: fixed;

  thead {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    tr td {
      font-size: 16px;
      color: #000;
    }
  }
}


table.order-cost {
  border-collapse: collapse;

  tbody tr td {
    border-bottom: 1px solid #F0F0F0;
    padding: 5px 0;
  }

  tr td:nth-child(2) {
    text-align: right;
  }
}

table.order-items {
  thead tr td {
    color: #000;
  }
  tbody tr td {
    border-bottom: 1px solid #F0F0F0;
    padding: 10px 0;
  }

  tbody tr td:first-child {
    padding-right: 15px;
  }
}

table.bottom-table-border {
  table-layout: fixed; 
  border-collapse: collapse;
  td.first {
    padding-left: 10px;
    padding-right: 20px;
    div {
      border-top: 1px solid #ddd;
      padding-bottom: 10px;
    }
  }
  td.second {
    padding-left: 20px;
    padding-right: 10px;
    div {
      border-top: 1px solid #ddd;
      padding-bottom: 10px;
    }
  }
}

table.bottom {
  table-layout: fixed;
  border-collapse: collapse;

  thead {
    font-weight: bold;
    text-transform: uppercase;
    tr td {
      color: #000;
    }
  }
  .first-cell,
  .second-cell {
    padding: 0 10px 0 20px;
    > div {
      .address {
        padding-left: 20px;
        padding-bottom: 10px;
        padding-right: 10px;
      }
      .method {
        display: block;
        padding: 0 20px;
        div {
          padding-top: 10px;
          border-top: 1px solid #ddd;
        }
      }
    }
    
  }
  .first-cell {
    padding-left: 0;
    > div:first-child {
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
    }
    > div:nth-child(2) {
      padding: 0 10px;
      p {
        border-bottom: 1px solid #ddd;
        padding-top: 10px;
      }
    }
  }
  .second-cell {
    padding-left: 10px;
    padding-right: 0;
    > div:first-child {
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
    }
    > div:nth-child(2) {
      padding: 0 10px;
      p {
        border-bottom: 1px solid #ddd;
        padding-top: 10px;
      }
    }
  }

  .thead-first-cell,
  .thead-second-cell {
    padding: 0 10px 0 20px;
    
  }
  .thead-first-cell {
    border-left: 1px #ddd solid;
    div {
      padding-bottom: 8px;
      border-right: 1px #ddd solid;
    }
  }
  .thead-second-cell {
    padding-left: 10px;
    padding-right: 0;
    div {
      padding-bottom: 8px;
      border-left: 1px #ddd solid;
      border-right: 1px #ddd solid;
      padding-left: 20px;
    }
  }
}

.heading {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  padding-bottom: 5px;
}

.thank-you {
  font-size: 28px;
}

.greetings {
  font-size: 19px;
}

.greetings-end {
  font-size: 19px;
  line-height: 1.3;
}

table.products-grid {
  text-align: center;

  .img-wrapper {
    > div {
      box-shadow: 0 0 40px 0 #efefef;
      padding: 15px;
    }

    p {
      padding-top: 15px;
      font-size: 12px;
      font-weight: bold;
      color: #000;
      height: 34px;
      max-height: 34px;
      overflow: hidden;
      line-height: 16px;
    }
  }

  tr td {
    padding: 15px 15px 0;
    width: 50%;
  }
  &.products-sale-grid {
    tr td {
      width: 25%;
      padding: 2px;
      .product-price a {
        font-size: 14px;
      }
    }
  }
}

.product-price {
  font-size: 16px;
  padding: 15px 3px 0;
}

.footer table {
  table-layout: fixed;

  tr td {
    vertical-align: middle;
  }

  .website,
  .phone {
    width: 190px;
    text-align: center;
  }

  .social {
    width: 219px;
    a {
      color: transparent;
    }
  }
}




.method-border {
  width: 50%;
  border-top: 1px solid #F0F0F0;
  margin-bottom: 13px;
}


.contact-mail {
  word-wrap: break-word;
}

a.arrow-button {
  padding-left: 0;
  padding-right: 0;
  img {
    padding-right: 27%;
  }
  > span.inner {
    padding-left: 20px;
  }
}



.spacer {
  line-height: 0px;
  border-collapse: collapse;
  table-layout: fixed;

  span {
    color: #fff;
    background-color: #fff;
    font-size: 8px;
  }
}

.order-digit {
  padding-left: 3px;
}

.website a {
  word-wrap: break-word;
}

.rounded-box {
  text-align: center;
  border: 1px solid #F0F0F0;
  border-radius: 10px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px;
  padding: 15px;
}

.reminder-cart {
  font-size: 19px;
}

table.order-items .item-image {
  width: 65px;
  height: 65px;
  img {
    border: 1px solid #F1F1F1;
    padding: 5px;
    height: 65px;
    width: 65px;
    vertical-align: middle;
  }
  ~ td {
    vertical-align: middle;
    p:first-child {
      font-weight: bold;
      max-width: 415px;
      overflow: hidden;
      max-height: 38px;
      height: 38px;
    }
  }
  + td {
    padding-left: 5px;
  }
}


.btn-complete-purchase table a {
  font-size: 17px;
  font-weight: 300;
}

.confirm-email-btn {
  padding-top: 10px;
  table a {
    font-size: 18px;
    font-weight: bold;
    padding-right: 50px;
    img {
      padding-right: 10px;
    }
  }
}

.alert-product-table {
  tr td {
    vertical-align: middle;
    &:nth-child(2) {
      p:nth-child(1) {
        a {
          font-weight: bold;
          font-size: 16px;
        }
        margin-bottom: 5px;
      }
      p:nth-child(2) {
        font-size: 15px;
        span {
          font-weight: bold;
        }
      }
    }
  }
}


.rounded-solid {
  display: inline-block;
  border: 1px solid #010101;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 1.2;
}

.rounded-gold {
  display: inline-block;
  border: 1px solid #B58C00;
  padding: 15px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px;
  text-align: center;
  font-size: 21px;
  line-height: 1.2;
}

.rounded-gray {
  display: inline-block;
  padding: 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px;
  font-size: 15px;
  line-height: 1.2;
  background-color: #F0F0F0;
  color: #444444;
  table tr td {
    padding: 3px;
    &:first-child {
      text-align: right;
    }
    &:nth-child(2) {
      text-align: left;
    }
  }
}

.shipment-table {
  border: 1px solid #F0F0F0;
  border-radius: 10px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px;
  padding: 3px;
  thead tr td {
    width: 50%;
    font-size: 17px;
    padding: 5px 0 5px 30px;
    text-transform: uppercase;
  }
  tbody tr td {
    background: #F0F0F0;
    border-bottom: 3px solid #FFF;
    font-weight: bold;
    font-size: 17px;
    padding: 4px 0 4px 40px;
  }
}

.small {
  font-size: 11px;
  text-align: center;
}

.filled {
  background-color: #F0CE12;
  text-align: center;
  font-weight: bold;
  color: #111;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  tr td {
    font-size: 16px;
  }
}

.bottom-register-continue tfoot {
  .btn-primary a {
      padding: 6px 0;
      img {
        padding-left: 20px;
      }
    }
}

.btn-wtd {
  padding-top: 10px;
}

.firework-1 {
  background-image: url(http://bullionexchanges.com/media/email/new/firework-0.jpg);
  background-repeat: no-repeat;
  background-position: 60px;
  // text-align: center;
}

.firework-2 {
  background-image: url(http://bullionexchanges.com/media/email/new/firework-2.jpg);
  background-repeat: no-repeat;
  background-position: 350px;
  // text-align: center;
}

.mid-large {
  text-align: center;
  font-size: 18px;
}

.shipment-comment {
  text-align: center;
}

#text-logo-first {
  font-size: 36px;
}

#text-logo-second {
  font-size: 25px;
}


/* helpers: */

.text-center { text-align: center !important; text-align: center; }
.text-uppercase { text-transform: uppercase !important; }
.link { text-decoration: none; }
.color-1 { color: #b58c00; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
